body {
  background: #000000;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
embed{
  width:100vw;
  height:100vh;
  position: absolute;
}
